.LogIn{
  border: solid gray 1px;
  margin: auto;
  width: 250px;
  padding-left: 30px
}
.SignIn{
  margin: auto;
  width: 30%;
  border: solid gray 1px;
  padding: 50px ;
  text-align: center;
}

.data{
  margin: auto;
  width: 30%
}

.bg-image{
  background-image: url("/home/prk/Pictures/929202.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
}
